#Night {
    background-color: rgb(24, 19, 90);}
body {
    animation-name:frozen;
    animation-duration:10s;
    animation-iteration-count:infinite;
}
@keyframes frozen {
   25% {
    margin-left:300px;}
   25% {
    margin-right:200px;}
   25%{
    margin-left:200px;}
   25%{
    margin-right:300px;} 
   }
.center {text-align: center;}
h1 {
    color:antiquewhite
}
p{
    color: rgb(172, 34, 25);}
#biscuit {
    background-color:rgb(16, 129, 235);}
    #file {
        font-size:10px;}