#bgf{
    background-color:rgb(0, 185, 0);
    color:rgb(179, 60, 24);

}
#bc{
    background-color: rgb(79, 155, 56);
    color:rgb(163, 91, 24);
}
#bdr{
    border: width 1px;;
    border-color:rgb( 100,100,0)
}
#log
{
    background-color: rgb(184, 47, 47);
    
}